{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

<main>
    <div>
        <div class="c1" style="background-image:url('{{ vich_uploader_asset(category) }}')">
            <h1 class="text-center  fs-1 text-white">Plantes</h1>           
        </div>
    </div>
    <h2 class="p-4 fs-1 text-center ">{{ category.name }}</h2>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="container-fluid rounded-5 row p-5 row-cols ">
        <div class="col">
            <div class="card  my-4  " style="height:18rem;">
                <div class="card-body">
                    <h5 class="text-center card-title ">{{ category.description }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid rounded-5 row p-5 row-cols-1 row-cols-md-3 g-4">
        {% for plante in category.plantes %}
        <div class="col">
            <a href="/plante">
            <div class="card  my-4 " style="height:18rem; background-image:url('{{ plante.photo }}')">
                <div class="card-body">
                    <h5 class="text-center card-title">{{ plante.name }}</h5>
                </div>
            </div>
        </a>
        </div>
        {% else %}
        Aucune plante trouvée.
        {% endfor %}
    </div>


</main>


{% endblock %}